body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #888;
}

a {
	color: #3B95C6;
	text-decoration: underline;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

a:hover {
	color: #1B75A6;
}

a img {
	border: 0;
}

.navbar-inverse {
	background-color: #282828;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Hide my name by default */
.navbar-inverse .navbar-brand {
	visibility: hidden;
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
}

.navbar-inverse .navbar-brand a:hover {
	text-decoration: none;
	color: #fff;
}

/* On smaller displays, show the name */
@media (max-width: 768px) {
	.navbar-inverse .navbar-brand {
		visibility: visible;
	}
}

.navbar-inverse .navbar-nav > li {
	padding: 0em 0.4em;
	margin: 0.2em 0.2em;
}

.navbar-inverse .navbar-nav > li > a {
	font-weight: 600;
	border-radius: 8px;
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
	color: #fff;
	text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background: #383838;
}