body {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 300;
    color: #3e3e3e;
}

a {
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

a:hover {
    color: #001F3F;
    text-decoration: none;
}

a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6,
h2 a {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

h2.custom {
    font-weight: 700;
    margin: 1em auto 0.5em;
}

p.custom-p {
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
    line-height: 1.8;
    margin-bottom: 1em;
}

h1.custom-h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 2em;
}

h1 > i {
    margin-right: 20px;
}

/* Menu bar */

#menu-toggle {
    top: 5px;
    left: 5px;
    position: fixed;
    z-index: 1;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#menu-close {
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 50px;
}

#sidebar {
    margin-left: -150px;
    left: 0;
    width: 150px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#sidebar.active {
    left: 150px;
    width: 150px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/*.bio {
    position: absolute;
    bottom: 30px;
    padding: 10px;
}

p.p-bio {
    font-size: 14px;
}*/

ul.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    list-style: none;
    margin: 50px 0 0;
    padding: 0;
    text-align: right
}

#sidebar > ul > div.list > li {
    height: 50px;
    padding-right: 20px;
    line-height: 50px;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

#sidebar > ul > div.list > li:hover {
    background: #383838;
}

#sidebar > ul > div.list > li a {
    font-weight: 600;
    color: #AAAAAA;
    display: block;
}

#sidebar > ul > div > li > a > i {
    margin-left: 10px;
}
/* Menu Bar */


.jumbotron {
    background: transparent;
    text-align: center;
    height: 100%;
}


/* Style the first jumbotron */
.jumbotron#top {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: table;
}

#top > div.top {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}

.bg {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/me-codeday.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-filter: brightness(55%);
}

.bg-blurred {
    background-image: url("../images/me-codeday-scroll.jpg");
    opacity: 0;
}

h1.karan-goel {
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

#top > div.top > p > a {
    color: #AAA;
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#top > div.top > p > a:hover {
    color: #fff;
}

img.me {
    max-width: 6em;
    max-height: 6em;
    margin: 1em auto!important;
    border: 3px solid #fff;
    opacity: 1;
}

.social > li {
    margin-right: 10px;
}

.social > li > a {
    color: #aaa;
    /*font-size: 2em;*/
    opacity: 1;
    position: relative;
    -webkit-transition: all 0.5s ease-out 0.2s;
}

.social > li > a:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

@-webkit-keyframes arrows {
    0%, 20%, 50%, 80%, 100% {bottom: 10px;} 
    40% {bottom: 30px;}
    60% {bottom: 15px;}
}

.arrow {
    position: absolute;
    bottom: 10px;
    opacity: 0.5;
    -webkit-animation: arrows 2s infinite;
    -moz-animation: arrows 2s infinite;
    -o-animation: arrows 2s infinite;
    animation: arrows 2s infinite;
}
.arrow a i {
    color: #aaaaaa;
}
/********************************/

/* Style individual jumbotrons */
.jumbotron#projects, .jumbotron#minibio {
    background-color: #f4f4f4;
    margin-bottom: 0;
    font-weight: 400;
}

.jumbotron#work, .jumbotron#about {
    background-color: #3e3e3e;
    margin-bottom: 0;
    color: #f4f4f4;
    font-weight: 400;
}

.invert {
    color: #f4f4f4
}

.jumbotron#work a:hover, .jumbotron#about a:hover {
    color: #f4f4f4;
}

/*********/

.single-item {
    text-align: center;
    margin-bottom: 30px;
}

p.custom-projects {
    line-height: 1.8;
    margin: 20px 0;
    font-size: 0.80em;
}

.banner-img {
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    color: white;
    opacity: 0.7;
}

.projects {
    padding: 0;
    margin: 0 auto;
}

stack-tag {
    border: 1px solid gray;
    font-size: 0.65em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2px 3px;
    padding: 3px 10px;
}

.row {
    margin: 0px auto 30px auto;
    padding: 0px auto;
}

.footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 4em 1em;
    font-weight: 400;
    font-size: 1.2em;
    color: #3e3e3e;
}
