@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Hind:400,700);

body {
  margin: 60px auto;
  max-width: 680px;
  line-height: 1.5;
  font-size: 22px;
  color: #444;
  padding: 0 20px;
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Hind', sans-serif;
}

h1, h2, h3 {
  line-height: 1.4;
  margin: 10px 0;
}

h1 {
  font-size: 1.4em;
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: #888;
}

section {
  margin-bottom: 40px;
}

.banner-img {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}
#footer {
  text-align: center;
}
