body {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 300;
    color: #888;
}

a {
    color: #383838;
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

h1 strong {
    font-weight: 700;
}

.navbar-inverse {
    background-color: #282828;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-left: -56px;
}

.container, .navbar .navbar-collapse {
    text-align: center;
    visibility: visible!important;
}


/* On smaller displays, show the name */
@media (max-width: 768px) {
    .navbar .navbar-collapse {
        visibility: visible!important;
    }
}

.navbar-inverse .navbar-nav > li {
    padding: 0em 0.4em;
    margin: 0.2em 0.2em;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: 600;
    border-radius: 8px;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #383838;
}

.jumbotron .container {
    padding: 50px 30px;
}

.jumbotron {
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
    background: transparent;
    text-align: left;
    height: 100%;
}

.jumbotron h1, .jumbotron .h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

.jumbotron#top {
    height:100%;
    width: 100%;
    position: relative;
}

.jumbotron .container.top {
    vertical-align: middle;
    display: table-cell;
}

.bg {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px -30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/me-codeday.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-filter: brightness(55%);
}

h1.karan-goel {
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

p.text-center {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

#top > div.container.top > div > p > a {
    color: #AAA;
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

#top > div.container.top > div > p > a:hover {
    color: #fff;
}

.jumbotron > .container.top > h1.text-left {
    text-align: left;
    color: #fff!important;
}

img.me {
    max-width: 6em;
    max-height: 6em;
    margin: 1em auto!important;
    border: 3px solid #fff;
}

p.custom {
    line-height: 1.8;
    margin-bottom: 1em;
}

p.custom-projects {
    line-height: 1.8;
    margin-bottom: 0em;
    padding: 1em 1.2em 1em;
    font-size: 0.85em;
}

.jumbotron#projects, .jumbotron#contact, .jumbotron#about {
    background-color: #f4f4f4;
    margin-bottom: 0;
}

.container.projects,
.container.social {
    padding: 0;
    margin: 0 auto;
}

stack-tag {
    border: 1px solid gray;
    font-size: 0.65em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2px 3px;
    padding: 3px 10px;
}

.scale-projects {
    -webkit-transition: all .2s ease-in-out;
}
.scale-projects:hover {
    -webkit-transform: scale(1.05); 
}

h1.custom {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2em;
}

h2.custom {
    font-weight: 700;
    margin: 0.5em;
}

h2.custom a {
    color: #3e3e3e;
    text-decoration: none;
}

h2.custom a:hover {
    text-decoration: none;
    color: #3B95C6;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.row {
    margin: 0px auto 30px auto;
    padding: 0px auto;
}

#top > div.container.top > ul > li > a {
    color: #aaa;
    font-size: 2em;
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
}

#top > div.container.top > ul > li > a:hover {
    opacity: 1;
}


.footer {
    background-color: #282828;
    padding: 0.5em;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
}
