/* devanagari */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(http://fonts.gstatic.com/s/hind/v5/PweUV6zQOwbea1HTWD9UxRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(http://fonts.gstatic.com/s/hind/v5/_nGZcTICJK7Og5TmI2ZPqxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(http://fonts.gstatic.com/s/hind/v5/Pmrg92KFJKj-hq44c2dqpvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Semibold'), local('Hind-Semibold'), url(http://fonts.gstatic.com/s/hind/v5/0NZnoX7lIGIQSQp3baB6aVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Semibold'), local('Hind-Semibold'), url(http://fonts.gstatic.com/s/hind/v5/urMn04ooOKClqk1j3KANyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Semibold'), local('Hind-Semibold'), url(http://fonts.gstatic.com/s/hind/v5/PBH86v3Kf1cOLg_Efc95LgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
  margin: 20px auto;
  max-width: 640px;
  line-height: 1.5;
  font-size: 20px;
  color: #444;
  padding: 0 20px;
  font-family: Hind,sans-serif;
}

p {
  margin: 0 0 2em;
  line-height: 1.8em;
}

li {
  line-height: 2em;
}

a {
  color: #0074D9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  line-height: 2;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #888;
}

section {
  margin-bottom: 40px;
}

.grid {
  min-width: 640px;
  padding: 0 10px;
}

.intro {
  font-size: 3em;
  border-bottom: 5px solid #444;
  margin-bottom: 1em;
}

#habits .col-1-4 {
  text-align: center;
}

#contact .grid .col-1-3 {
  text-align: center;
}

.banner-img {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

#footer {
  margin-top: 1em;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}


@media screen and (max-width: 767px) {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 1.8em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.4em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: #888;
  }

  .grid {
    min-width: 0;
    padding: 0;
  }

  .intro {
    font-size: 3em;
  }

  #habits .col-1-4 {
    width: 50%;
    display: inline-block;
  }

  #contact .col-1-3 {
    width: 33%;
    display: inline-block;
  }

  #work .col-1-2:not(:last-child), #projects .col-1-2:not(:last-child) {
    margin-bottom: 30px;
  }

}


@media screen and (max-width: 480px) {

  body {
    font-size: 16px;
  }

}
