doctype html

// @author: Karan Goel
// @email: karan@goel.im

html(lang="en")
	head
		title Home of Karan Goel

		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="keywords", content="Karan Goel, University of Washington, UW, Seattle")
		meta(name="description", content="Karan Goel is an undergraduate at University of Washington-Seattle.")

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		meta(name="google-site-verification", content="Fjv0uLvY6KOkNRqPgPlMlASk7DwV8rvnsqLcfTU7wBI")

		link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700", rel="stylesheet")

		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/custom.css")

		script(src="https://code.jquery.com/jquery-1.10.2.min.js")
		script(src="js/bootstrap.js")

		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-9509587-16']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		// navbar
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
				button(type="button", class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Karan Goel
				div.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="#") Top
						li
							a(href="#") Projects
						li
							a(href="#") About
						li
							a(href="#") Resume
						li
							a(href="#") Contact
		div.container
			div.starter-template
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome
				h1 Welcome