doctype html

// @author: Karan Goel
// @email: karan@goel.im

html(lang="en")
    head
        title Home of Karan Goel

        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="keywords", content="Karan Goel, University of Washington, UW, Seattle")
        meta(name="description", content="Karan Goel is an undergraduate at University of Washington-Seattle.")

        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        meta(name="google-site-verification", content="Fjv0uLvY6KOkNRqPgPlMlASk7DwV8rvnsqLcfTU7wBI")

        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700", rel="stylesheet")

        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/custom.css")
        link(rel="stylesheet", href="css/social-buttons.css")
        link(rel="stylesheet", href="css/font-awesome.css")

        script(src="js/jquery-1.10.2.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/custom.js")

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-9509587-16', 'goel.im');
            ga('send', 'pageview');

    body
        div.container
            // navbar
            nav.navbar.navbar-inverse.navbar-fixed-top
                div.container
                    div.navbar-header
                        button(type="button", class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    //a.navbar-brand(href="#") Karan Goel
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="#projects", onclick="ga('send', 'event', 'navbar', 'click', 'Projects');") Projects
                            li
                                a(href="#about", onclick="ga('send', 'event', 'navbar', 'click', 'About');") About
                            li
                                a(href="Karan.Goel.Resume.pdf", onclick="ga('send', 'event', 'navbar', 'click', 'Resume');") Resume
                            li
                                a(href="http://blub.goel.im", onclick="ga('send', 'event', 'navbar', 'click', 'Blog');") Blog
                            li
                                a(href="#contact", onclick="ga('send', 'event', 'navbar', 'click', 'Contact');") Contact
            
        div.jumbotron#top
            div.container
                div.col-md-4
                    img.img-circle.img-responsive.me(src="images/me.jpg")
                div.col-md-8
                    h1.text-left Hi. I'm 
                        strong Karan Goel
                    p.custom.text-left
                        | I'm an undergraduate sophomore at the 
                        a(href='http://www.washington.edu') University of Washington 
                        | in the 
                        b
                            a(href='http://www.cs.washington.edu') Computer Science
                        |  program, expecting to graduate in Fall, 2015. 
                    p.custom.text-left
                        | I will intern at 
                        b
                            a(href="https://www.google.com/") Google 
                        | with the 
                        b
                            a(href="https://www.google.com/maps/views/home?gl=us") Street View
                        |  team in Summer 2014.
                    p.custom.text-left
                        | I am also an open web evangelist, and an open source fanatic. If you need to contact me, email me at <em>karan@goel.im</em>.
                    div.btn-group
                        a.btn.btn-success.btn-default(href="http://github.com/karan", role="button") I'm on Github
                        a.btn.btn-primary.btn-default(href="#projects", role="button") See my work
        
        div.jumbotron#projects
            div.container.projects
                h1.text-center.custom Projects

                div.row
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/Qknowledge")
                                img.img-responsive(src="images/quora.png")
                            h2.custom
                                a(href="https://github.com/karan/Qnowledge") Qnowledge
                            stack-tag Python
                            p.custom-projects 
                                | Qnowledge is a knowledge API for Quora that provides access to various details of any question using a simple REST interface. Access at 
                                b
                                    a(href="http://q.goel.im") q.goel.im
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/s")
                                img.img-responsive(src="images/short.png")
                            h2.custom
                                a(href="https://github.com/karan/s") s
                            stack-tag Node.js
                            stack-tag Angular.js
                            stack-tag Redis
                            p.custom-projects 
                                | A high-performance, anonymous URL shortener built using Redis + Node.js with an API-backed design. 
                                b
                                    a(href="http://s.goel.im/") Live Demo
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/What-Would-I-Tweet")
                                img.img-responsive(src="images/tweeny.png")
                            h2.custom
                                a(href="https://github.com/karan/What-Would-I-Tweet") What would I tweet?
                            stack-tag Python
                            stack-tag Angular.js
                            p.custom-projects 
                                | Automatically generates tweets for you by training a Markov bot based on bigram probabilities derived from your tweet history.  
                                b
                                    a(href="http://tweeny.goel.im/") Live Demo

                div.row
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/TPB")
                                img.img-responsive(src="images/tpb.jpg")
                            h2.custom
                                a(href="https://github.com/karan/TPB") TPB API
                            stack-tag Python
                            p.custom-projects Unofficial Python API for ThePirateBay. Supports searching, sorting, pagination. Wrote the core scraper. Supports py2 and py3.
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/Projects")
                                img.img-responsive(src="images/projects.png")
                            h2.custom
                                a(href="https://github.com/karan/Projects") 100+ Projects
                            stack-tag Python
                            p.custom-projects A collection of hundreds of practical, language-agnostic projects that anyone can complete. Solving these in Python. One of the top Github repos with 4k+ stars.
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/")
                                img.img-responsive(src="images/reddit.png")
                            h2.custom
                                a(href="https://github.com/karan/") Reddit Scripts
                            stack-tag Python
                            p.custom-projects
                                a(href="https://github.com/karan/RedditAgain") RedditAgain
                                |  – Automates migrating a Reddit account to a new one.
                                br
                                a(href="https://github.com/karan/NobodyDoesThis") NobodyDoesThis
                                |  – Scans /r/DoesAnybodyElse posts with 0 score and then comments "Nope, it's just you."
                
                div.row
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/HackerNewsAPI")
                                img.img-responsive(src="images/HN.jpg")
                            h2.custom
                                a(href="https://github.com/karan/HackerNewsAPI") HackerNews API
                            stack-tag Python
                            p.custom-projects Unofficial Python API for Hacker News. Also see 
                                a(href="https://github.com/karan/HNify") HNify
                                |  - RESTful API for HN.
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/jReddit")
                                img.img-responsive(src="images/jreddit.jpg")
                            h2.custom
                                a(href="https://github.com/karan/jReddit") jReddit
                            stack-tag Java
                            p.custom-projects Java wrapper for Reddit API. Started by Omer Elnour, later abandoned.
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/YALT")
                                img.img-responsive(src="images/yalt.jpg")
                            h2.custom
                                a(href="https://github.com/karan/YALT") YALT
                            stack-tag Java
                            p.custom-projects A lightweight and minimal utility to make it easier for you to learn facts.

                div.row
                    div.col-sm-6.col-md-4.scale-projects
                        div.thumbnail
                            a(href="https://github.com/karan/MoodicPlayer")
                                img.img-responsive(src="images/music.jpg")
                            h2.custom
                                a(href="https://github.com/karan/MoodicPlayer") Moodic Player
                            stack-tag Java
                            p.custom-projects Using last.fm API, builds a playlist for users based on their mood.

        div.jumbotron#about
            div.container.projects
                h1.text-center.custom People call me Karan.

                div.row
                    div.col-sm-6.col-md-4
                        div.thumbnail
                            img.img-responsive(src="images/uwcse.png")
                            p.custom-projects
                                | Originally from New Delhi, India, now in 
                                a(href='http://en.wikipedia.org/wiki/Too_Much_Rain') Seattle, WA
                                | , I'm an undergraduate at the 
                                a(title='University of Washington', href='https://www.washington.edu/') University of Washington
                                | , working towards a BS degree in 
                                a(title='Computer Science @ UW', href='https://www.cs.washington.edu/') Computer Science
                                | . That means I 
                                a(title='Karan Goel @ GitHub', href='http://github.com/karan') code
                                | . My resume is available in 
                                a(href='Karan.Goel.Resume.pdf') PDF format
                                |  or on 
                                a(href='http://www.linkedin.com/in/kgoel') LinkedIn
                                | .

                    div.col-sm-6.col-md-4
                        div.thumbnail
                            img.img-responsive(src="images/banner.jpg")
                            p.custom-projects
                                | I've worked with 
                                a(href='http://jeffhuang.com/') Jeff Huang
                                |  where we investigated 
                                a(href='https://www.microryza.com/projects/how-do-spammers-harvest-your-e-mail-address') how spammers harvest email addresses
                                |  and with 
                                a(href='http://hmslydia.com/') Lydia Chilton
                                |  on her 
                                a(href='https://www.microryza.com/projects/crowdsourcing-humor-using-humans-and-computers-together-to-write-jokes') Computational Humor
                                |  project. In Summer 2013, I interned at 
                                a(href='http://www.lenskart.com') Lenskart
                                |  as a Data Analyst. In Summer 2014, I will intern at 
                                a(href='http://www.google.com/') Google
                                |  with the Street View (Maps) team in the 
                                a(href="https://www.google.com/jobs/students/engpracticum‎") Engineering Practicum
                                |  program.

                    div.col-sm-6.col-md-4
                        div.thumbnail
                            img.img-responsive(src="images/reddit.jpg")
                            p.custom-projects
                                | Broadly, I am interested in making apps and scripts that help improve end-user productivity, and user-facing web apps. I'm also interested in 
                                a(href='http://en.wikipedia.org/wiki/Web_scraping') web scraping
                                |  and building API's. I spend most of my (free) time on 
                                a(href='http://www.reddit.com/user/karangoeluw') Reddit
                                | , 
                                a(href='https://www.quora.com/Karan-Goel-3') Quora
                                |  and 
                                a(href='http://stackoverflow.com/users/2392038/karan-goel') StackOverflow
                                | .

        div.jumbotron#contact
            div.container.projects
                h1.text-center.custom Get in touch.

                div.row
                    div.col-md-1.custom-btn.col-md-offset-3
                        a.btn.btn-github.btn-xlarge(href="http://github.com/karan", role="button")
                            i.fa.fa-github 
                    div.col-md-1.custom-btn
                        a.btn.btn-vk.btn-xlarge(href="mailto:karan@goel.im", role="button")
                            i.fa.fa-envelope-o 
                    div.col-md-1.custom-btn
                        a.btn.btn-youtube.btn-xlarge(href="https://www.youtube.com/user/TheKaranGoel", role="button")
                            i.fa.fa-youtube 
                    div.col-md-1.custom-btn
                        a.btn.btn-twitter.btn-xlarge(href="http://twitter.com/TheKaranGoel", role="button")
                            i.fa.fa-twitter 
                    div.col-md-1.custom-btn
                        a.btn.btn-linkedin.btn-xlarge(href="http://www.linkedin.com/in/kgoel", role="button")
                            i.fa.fa-linkedin 
                    div.col-md-1.custom-btn
                        a.btn.btn-google-plus.btn-xlarge(href="http://google.com/+KaranGoel", role="button")
                            i.fa.fa-google-plus 

        div.footer
            p.text-center Created by Karan Goel. Built with Bootstrap, HTML5, jQuery, CSS3 and lots of 
                span.glyphicon.glyphicon-heart-empty
