doctype html

// @author: Karan Goel
// @email: karan@goel.io

html(lang="en")
    head
        include includes/head

    body
        // navbar
        #menu-toggle.btn.btn-lg
            i.fa.fa-list.fa-2x
        #sidebar
            #menu-close.btn.btn-lg.pull-right
                i.fa.fa-times.fa-2x
            ul.sidebar-nav
                .list
                    a(href="#top", onclick="ga('send', 'event', 'navbar', 'click', 'Top');")
                        li
                            i.fa.fa-chevron-circle-up
                            | Top 
                    br
                    a(href="#about", onclick="ga('send', 'event', 'navbar', 'click', 'About');")
                        li
                            i.fa.fa-user
                            | About 
                    a(href="#work", onclick="ga('send', 'event', 'navbar', 'click', 'Work');")
                        li
                            i.fa.fa-users
                            | Work 
                    a(href="#projects", onclick="ga('send', 'event', 'navbar', 'click', 'Projects');")    
                        li
                            i.fa.fa-code
                            | Projects 
                    a(href="#hackathons", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Hackathons');")
                        li
                            i.fa.fa-coffee
                            | Hackathons 
                    br
                    a(href="/Karan.Goel.Resume.pdf", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Resume');")
                        li
                            i.fa.fa-file
                            | Resume 
                    a(href="http://karan.github.io", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Blog');")
                        li
                            i.fa.fa-rss
                            | Blog 

        section.top#top
            .bg
            .brand
                h1 Hi, I'm Karan
                h2 Developer & Maker of fine things

                include includes/social

            .arrow.col-xs-4.col-xs-offset-4
                a(href="#about")
                    i.fa.fa-angle-down.fa-3x

        section#about
            .container
                include includes/content/about

        section#work
            .container
                include includes/content/work

        section#projects
            .container
                include includes/content/projects

        section#hackathons
            include includes/content/hackathons

        section#footer
            include includes/footer

    include includes/scripts
