doctype transitional

// @author: Karan Goel
// @email: karan@goel.io

html(lang="en")
    head
        include includes/head

    body
        section#about
            include includes/content/about

        section#habits
            include includes/content/habits

        section#work
            include includes/content/work

        section#media
            include includes/content/media

        section#projects
            include includes/content/projects

        section#contact
            include includes/social

        section#footer
            include includes/footer

    include includes/scripts
