doctype html

// @author: Karan Goel
// @email: karan@goel.io

html(lang="en")
    head
        include includes/head

    body
        // navbar
        #menu-toggle.btn.btn-lg
            i.fa.fa-list.fa-2x
        div#sidebar
            #menu-close.btn.btn-lg.pull-right
                i.fa.fa-times.fa-2x
            ul.sidebar-nav
                .list
                    a(href="#top", onclick="ga('send', 'event', 'navbar', 'click', 'Top');")
                        li
                            i.fa.fa-chevron-circle-up
                            | Top 
                    a(href="#work", onclick="ga('send', 'event', 'navbar', 'click', 'Work');")
                        li
                            i.fa.fa-users
                            | Work 
                    a(href="#projects", onclick="ga('send', 'event', 'navbar', 'click', 'Projects');")    
                        li
                            i.fa.fa-code
                            | Projects 
                    a(href="#about", onclick="ga('send', 'event', 'navbar', 'click', 'About');")
                        li
                            i.fa.fa-user
                            | About 
                    a(href="/Karan.Goel.Resume.pdf", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Resume');")
                        li
                            i.fa.fa-file
                            | Resume 
                    a(href="http://karan.github.io", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Blog');")
                        li
                            i.fa.fa-rss
                            | Blog 
                    a(href="#hackathons", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Hackathons');")
                        li
                            i.fa.fa-coffee
                            | Hackathons 
        
        .page-wrapper
            .jumbotron#top
                .bg
                .arrow.col-xs-4.col-xs-offset-4
                    a(href="#minibio")
                        i.fa.fa-angle-down.fa-3x
                .top
                    h1.karan-goel Karan Goel
                    p.tagline I'm a developer & maker of fine things.

                    include includes/social
            
            .jumbotron#minibio
                .jumbo-inner-wrapper
                    .container
                        include includes/content/minibio

            .jumbotron#work
                .jumbo-inner-wrapper
                    .container
                        include includes/content/work


            .jumbotron#projects
                .jumbo-inner-wrapper
                    .container
                        include includes/content/projects

            .jumbotron#subscribe
                .container
                    include includes/email
            
            .jumbotron#about
                .jumbo-inner-wrapper
                    .container
                        include includes/content/about

            .jumbotron#hackathons
                .jumbo-inner-wrapper
                    include includes/content/hackathons

            .footer
                include includes/footer

    include includes/scripts
