doctype transitional

// @author: Karan Goel
// @email: karan@goel.io

html(lang="en")
    head
        include includes/head

    body
        // navbar
        #menu-toggle.btn.btn-lg
            i.fa.fa-bars.fa-2x
        #sidebar
            #menu-close.btn.btn-lg.pull-right
                i.fa.fa-times
            ul.sidebar-nav
                .list
                    a(href="#top", onclick="ga('send', 'event', 'navbar', 'click', 'Top');")
                        li
                            i.fa.fa-chevron-circle-up
                            | Top
                    br
                    a(href="#about", onclick="ga('send', 'event', 'navbar', 'click', 'About');")
                        li
                            i.fa.fa-user
                            | About
                    a(href="#work", onclick="ga('send', 'event', 'navbar', 'click', 'Work');")
                        li
                            i.fa.fa-users
                            | Work
                    a(href="#projects", onclick="ga('send', 'event', 'navbar', 'click', 'Projects');")
                        li
                            i.fa.fa-code
                            | Projects
                    br
                    a(href="/resume", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Resume');")
                        li
                            i.fa.fa-file-pdf-o
                            | Resume
                    a(href="http://goel.io", target="_blank", onclick="ga('send', 'event', 'navbar', 'click', 'Blog');")
                        li
                            i.fa.fa-external-link
                            | Blog

        section.top#top
            .overlay
            .brand
                h1 Karan Goel
                h2 I make great ideas happen

            .arrow.col-xs-4.col-xs-offset-4
                a(href="#about")
                    i.fa.fa-angle-down.fa-3x

        section#about
            .container
                include includes/content/about

        section#work
            .container
                include includes/content/work

        section#projects
            .container
                include includes/content/projects

        section#footer
            include includes/footer

    include includes/scripts
