h1 Hi. I'm Karan Goel.

p I'm a software engineer with a knack for entrepreneurship.
    |  I design, build, and ship software that makes the world a better place.

p I'm an undergraduate at the&nbsp;
    a(href="http://www.washington.edu", target="_blank") University of Washington
    |  in the&nbsp;
    a(href='http://www.cs.washington.edu', target="_blank") Computer Science
    |  program. I started the first, and now the biggest, developer club -&nbsp;
    a(href="https://www.facebook.com/pages/UW-Hackers/749411328459500", target="_blank") UW Hackers
    |  - to expose students to modern technology not present in the classroom.
    | I also founded and lead the biggest student hackathon here -&nbsp;
    a(href="http://dubhacks.co/", target="_blank") DubHacks
    | . Here's my&nbsp;
    a(href="/resume", target="_blank") resume
    | .
