h1 Hi. I'm Karan Goel.

.row
    .col-md-6
        .single-item
            h3
                i.fa.fa-code.fa-3x
            p I design, build, and ship software that makes the world a better place. 
                | The best way to know more about me is to read 
                a(href="http://www.geekwire.com/2014/karan-goel/", target="_blank") this GeekWire profile
                | .

    .col-md-6
        .single-item
            h3
                i.fa.fa-graduation-cap.fa-3x
            p
                | I'm an undergraduate at the 
                a(href="http://www.washington.edu", target="_blank") University of Washington 
                | in the  
                a(href='http://www.cs.washington.edu', target="_blank") Computer Science
                |  program.

.row
    .col-md-6
        .single-item
            h3
                i.fa.fa-briefcase.fa-3x
            p
                | I've worked at a couple places like Google and LensKart. That was fun.
    .col-md-6
        .single-item
            h3
                i.fa.fa-toggle-on.fa-3x
            p
                | I started the first, and now the biggest, developer club - 
                a(href="https://www.facebook.com/pages/UW-Hackers/749411328459500", target="_blank") UW Hackers
                |  - to expose students to modern technology not present in the classroom. 
                | I also co-founded and lead the biggest student hackathon here - 
                a(href="http://dubhacks.co/", target="_blank") DubHacks
                | .

.row
    .col-md-6.col-md-offset-3
        .single-item
            h3
                i.fa.fa-pencil.fa-3x
            p
                | Feel free to browse through this site or my 
                a(href="https://medium.com/@karan", target="_blank") blog
                | , or read my 
                a(href="Karan.Goel.Resume.pdf", target="_blank") resume 
                | and send me an 
                a(href="mailto:karan@goel.io", target="_blank") email
                |  if you like what you see (I'm reasonably nice).

include ../social
