h1.intro Hi, I'm Yask

p I'm an
    b  opensource enthusiast
    |  with a knack for
    b  entrepreneurship.
    |  I design, build, and ship software that makes the world a better place.

p I love working on interesting projects. 
    br
    | Some of them are : MoinMoin Wiki Engine, GCompris, JEEQuery, InstantMusic, Stalky.in . Here's my&nbsp;
    a(href="https://drive.google.com/file/d/0B5E9f8NaQzBNTFVhTUNUT2V1NTA/view?usp=sharing", target="_blank") resume
    | .

i Quick Links:&nbsp;
    a(href="#work") Work
    |  -&nbsp;
    a(href="#projects") Projects
    |  -&nbsp;
    a(href="https://twitter.com/yask123", target="_blank") Twitter
    |  -&nbsp;
    a(href="https://github.com/yask123", target="_blank") Github
