h1 Hi. I'm Karan Goel.

p I design, build, and ship software that makes the world a better place.
    | The best way to know more about me is to read&nbsp;
    a(href="http://www.geekwire.com/2014/karan-goel/", target="_blank") this GeekWire profile
    | .

p I'm an undergraduate at the&nbsp;
    a(href="http://www.washington.edu", target="_blank") University of Washington
    |  in the&nbsp;
    a(href='http://www.cs.washington.edu', target="_blank") Computer Science
    |  program.

p I started the first, and now the biggest, developer club -&nbsp;
    a(href="https://www.facebook.com/pages/UW-Hackers/749411328459500", target="_blank") UW Hackers
    |  - to expose students to modern technology not present in the classroom.
    | I also founded and lead the biggest student hackathon here -&nbsp;
    a(href="http://dubhacks.co/", target="_blank") DubHacks
    | .

p Feel free to browse through this site or my&nbsp;
    a(href="http://goel.io", target="_blank") blog
    | , or read my&nbsp;
    a(href="/resume", target="_blank") resume
    |  and send me an&nbsp;
    a(href="mailto:karan@goel.io", target="_blank") email
    |  if you like what you see (I'm reasonably nice).

include ../social
