h1 Hi. I'm Karan Goel.

.row
    .col-md-6
        .single-item
            h3
                i.fa.fa-code.fa-3x
            p I design, build, and ship software that makes the world a better place.

    .col-md-6
        .single-item
            h3
                i.fa.fa-graduation-cap.fa-3x
            p
                | I'm an undergraduate at the 
                a(href="http://www.washington.edu", target="_blank") University of Washington 
                | in the  
                a(href='http://www.cs.washington.edu', target="_blank") Computer Science
                |  program.

.row
    .col-md-6
        .single-item
            h3
                i.fa.fa-briefcase.fa-3x
            p
                | I've interned at Google with the Street View team and at LensKart where I developed
                |  analytics dashboards for business intelligence.
    .col-md-6
        .single-item
            h3
                i.fa.fa-toggle-on.fa-3x
            p
                | At the UW, I started the first, and now the biggest, developer club - 
                a(href="https://www.facebook.com/pages/UW-Hackers/749411328459500") UW Hackers
                |  - to expose students to modern technology that is otherwise
                |  left out of the classroom. I also co-founded and lead the first, and
                |  the biggest, student hackathon in the Pacific Northwest - 
                a(href="http://dubhacks.co/") DubHacks
                | .

.row
    .col-md-6.col-md-offset-3
        .single-item
            h3
                i.fa.fa-pencil.fa-3x
            p
                | Feel free to browse through this site or my 
                a(href="http://karan.github.io", target="_blank") blog
                | , or read my 
                a(href="Karan.Goel.Resume.pdf", target="_blank") resume 
                | and send me an 
                a(href="mailto:karan@goel.io", target="_blank") email
                |  if you like what you see (I'm reasonably nice).

include ../social
