h1.intro Hi, I'm Karan

p I'm a
    b  software engineer
    |  with a knack for
    b  entrepreneurship.
    |  I design, build, and ship software that makes the world a better place.

p I'm an undergraduate at the&nbsp;
    a(href="http://www.washington.edu", target="_blank") University of Washington
    |  studying&nbsp;
    a(href='http://www.cs.washington.edu', target="_blank") Computer Science
    |  . I've worked at a few places: Google, Madrona Venture Labs, Lenskart.com. Here's my&nbsp;
    a(href="/resume", target="_blank") resume
    | .

i Quick Links:&nbsp;
    a(href="#work") Work
    |  -&nbsp;
    a(href="#projects") Projects
    |  -&nbsp;
    a(href="https://twitter.com/karangoel", target="_blank") Twitter
    |  -&nbsp;
    a(href="https://github.com/karan", target="_blank") Github
