h1.section-title
    i.fa.fa-user
    |  About me
.row
    .col-md-4.col-md-offset-2
        .single-item
            h3
                i.fa.fa-plane.fa-3x
            p.light Originally from 
                a(href="http://en.wikipedia.org/wiki/New_Delhi", target="_blank") New Delhi, India
                | , now in 
                a(href='http://en.wikipedia.org/wiki/Too_Much_Rain', target="_blank") Seattle, WA
                | , I'm an undergraduate at the 
                a(href='https://www.washington.edu/', target="_blank") University of Washington
                | , in the 
                a(href='https://www.cs.washington.edu/', target="_blank") Computer Science
                |  department. My resume is available in 
                a(href='Karan.Goel.Resume.pdf', target="_blank") PDF format
                |  or on 
                a(href='http://www.linkedin.com/in/kgoel', target="_blank") LinkedIn
                | .

    .col-md-4
        .single-item
            h3
                i.fa.fa-terminal.fa-3x
            p.light Primarily, I do backend and sometimes dabble around with frontend. Broadly, I'm interested in 
                a(href='http://en.wikipedia.org/wiki/Web_scraping', target="_blank") web scraping
                | , data mining, and building web applications. If that sounds interesting to you, 
                a(href="http://github.com/karan", target="_blank") check out
                |  what I've been working on recently.

.row
    .col-md-4.col-md-offset-2
        .single-item
            h3
                i.fa.fa-star.fa-3x
            p.light People do seem to like what I do. I've been 
                a(href="http://www.reddit.com/r/programming/comments/1isd63/want_to_learn_a_new_language_solve_these_100/") featured 
                a(href="http://www.reddit.com/r/webdev/comments/1ysxq5/intro_to_nodejs_expressjs_mongodb_for_beginners/") multiple 
                a(href="http://www.reddit.com/r/Python/comments/1lkfzm/thepiratebay_api_for_python/") times 
                a(href="http://www.reddit.com/r/learnpython/comments/1svn38/rlearnpython_best_of_2013_nominations_thread/ce1o2jx") on Reddit 
                | and 
                a(href="https://news.ycombinator.com/item?id=6038242") hit 
                a(href="https://news.ycombinator.com/item?id=6374031") frontpage 
                a(href="https://news.ycombinator.com/item?id=7602045") of 
                a(href="https://news.ycombinator.com/item?id=7631088") Hacker News
                |  about half a dozen times.
    .col-md-4
        .single-item
            h3
                i.fa.fa-group.fa-3x
            p.light I started the first maker club at the UW called 
                a(href="http://students.washington.edu/uwsudo/") Sudo Soldiers
                | . With an awesome team of officers, we have almost made the club
                | a cult by organizing weekly student-led technical workshops.
    
    //- .col-md-4
    //-     .single-item
    //-         h3
    //-             i.fa.fa-github-alt.fa-3x
    //-         p.light I'm a bit of an 
    //-             a(href="http://tantek.com/2010/281/b1/what-is-the-open-web", target="_blank") open web evangelist
    //-             | , and an 
    //-             a(href="http://imgs.xkcd.com/comics/open_source.png", target="_blank") open source
    //-             |  fanatic.
    //-             | I believe that open source empowers people to stop complaining
    //-             | and start fixing problems.

    //- .col-md-4
    //-     .single-item
    //-         h3
    //-             i.fa.fa-pencil.fa-3x
    //-         p.light I spend most of my (free) time writing on 
    //-             a(href='http://www.reddit.com/user/karangoeluw', target="_blank") Reddit
    //-             | , 
    //-             a(href='https://www.quora.com/Karan-Goel-3', target="_blank") Quora
    //-             |  and 
    //-             a(href='http://stackoverflow.com/users/2392038/karan-goel', target="_blank") StackOverflow
    //-             |   about programming, open source and other interesting topics. 
