h1 The Habits

p I'm obsessed about some things and try to do them regularly. If you'd like
    |  to get to know me better, check them out.

.grid.grid-pad
    .col-1-4
        a(href="http://github.com/karan", role="button", target="_blank")
            i.fa.fa-2x.fa-github
            br
            | Coding
    .col-1-4
        a(href="http://twitter.com/KaranGoel", role="button", target="_blank")
            i.fa.fa-2x.fa-twitter
            br
            | Tweeting
    .col-1-4
        a(href="http://goel.io/reading", role="button", target="_blank")
            i.fa.fa-2x.fa-book
            br
            | Reading
    .col-1-4
        a(href="http://goel.io", role="button", target="_blank")
            i.fa.fa-2x.fa-pencil
            br
            | Writing
