h1 Interviews / Press

ul
    li
        span May 2015:&nbsp;
        a(href="http://thehustlermind.com/2015/05/09/interview-karan-goel/", target="_blank")
            b The Hustler Mind
            |  - Interview
    li
        span March 2015:&nbsp;
        a(href="http://hackathon.posthaven.com/karan-goel-threw-dubhacks-in-the-pacific-northwest", target="_blank")
            b Sponsorship Hacks
            |  - Karan Goel threw DubHacks in the Pacific Northwest
    li
        span Dec 2014:&nbsp;
        a(href="http://blogs.intel.com/evangelists/2014/12/31/meet-hackers-karan-goel/", target="_blank")
            b Intel Blog
            |  - Meet The Hackers: Karan Goel
    li
        span Dec 2014:&nbsp;
        a(href="http://www.geekwire.com/2014/karan-goel/", target="_blank")
            b GeekWire
            |  - Karan Goel cultivates a hacker culture at the University of Washington
