.col-md-6.col-md-offset-3
    p
        | Hi there. My name is Karan Goel.
    p
        | I'm an undergraduate at the 
        a(href="http://www.washington.edu", target="_blank") University of Washington 
        | in the  
        a(href='http://www.cs.washington.edu', target="_blank") Computer Science
        |  program and I love making new things, mostly on the web.
    p
        | I will intern at Google with the 
        a(href="https://www.google.com/maps/views/home?gl=us", target="_blank") Street View
        |  team in Summer 2014.
    p
        | Feel free to browse through this site or my 
        a(href="http://karan.github.io", target="_blank") 
            b blog
        | , or read my 
        b
            a(href="Karan.Goel.Resume.pdf", target="_blank") resume 
        | and send me an 
        a(href="mailto:karan@goel.im", target="_blank") email
        |  if you like what you see (I'm reasonably nice).
