h1.section-title.dark
    i.fa.fa-code
    | Projects

.row
    .col-sm-4
        .single-item#harmonic
            .item-image
                a(href="http://www.goharmonic.com/", target="_blank")
                    img.banner-img.projects-harmonic
            h2.single-item-title
                a(href="http://www.goharmonic.com", target="_blank") Harmonic
            p Tinder for music. #1 at Facebook PNW Hackathon

    .col-sm-4
        .single-item#griddit
            .item-image
                a(href="http://karan.github.io/griddit", target="_blank")
                    img.banner-img.projects-griddit
            h2.single-item-title
                a(href="http://karan.github.io/griddit", target="_blank") griddit
            p Orgasmic interface for image subreddits

    .col-sm-4
        .single-item#zipup
            .item-image
                a(href="https://github.com/karan/ZipUp", target="_blank")
                    img.banner-img.projects-zipup
            h2.single-item-title
                a(href="https://github.com/karan/ZipUp", target="_blank") ZipUp
            p Yelp for Bathrooms. Hackathon project

.row
    .col-sm-4
        .single-item#soundwall
            .item-image
                a(href="https://karan.github.io/SoundWall", target="_blank")
                    img.banner-img.projects-sc1
            h2.single-item-title
                a(href="https://karan.github.io/SoundWall", target="_blank") SoundWall
            p Faster music discovery using a sick interface

    .col-sm-4
        .single-item#scinstant
            .item-image
                a(href="https://karan.github.io/scInstant", target="_blank")
                    img.banner-img.projects-sc2
            h2.single-item-title
                a(href="https://karan.github.io/scInstant", target="_blank") SoundCloud Instant
            p Instant search for SoundCloud

    .col-sm-4
        .single-item#pillar
            .item-image
                a(href="https://github.com/karan/Pillar", target="_blank")
                    img.banner-img.projects-pillar
            h2.single-item-title
                a(href="https://github.com/karan/Pillar", target="_blank") Pillar
            p Suicide prevention app for Android

.row
    .col-sm-4
        .single-item#qnowledge
            .item-image
                a(href="http://q.goel.im", target="_blank")
                    img.banner-img.projects-quora
            h2.single-item-title
                    a(href="http://q.goel.im") Qnowledge
            p Knowledge API for Quora (REST)

    .col-sm-4
        .single-item#tweeny
            .item-image
                a(href="http://tweeny.goel.im/", target="_blank")
                    img.banner-img.projects-tweeny
            h2.single-item-title
                    a(href="http://tweeny.goel.im/", target="_blank") What would I tweet?
            p Tweet generator based on Markov probabilities

    .col-sm-4
        .single-item#short
            .item-image
                a(href="http://s.goel.im/", target="_blank")
                    img.banner-img.projects-short
            h2.single-item-title
                    a(href="http://s.goel.im/", target="_blank") s
            p High-performance, anonymous URL shortener
    
.row
    .col-sm-4
        .single-item#tpb
            .item-image
                a(href="https://github.com/karan/TPB")
                    img.banner-img.projects-tpb
            h2.single-item-title
                    a(href="https://github.com/karan/TPB", target="_blank") TPB API
            p Unofficial Python API for ThePirateBay

    .col-sm-4
        .single-item#projects-repo
            .item-image
                a(href="https://github.com/karan/Projects", target="_blank")
                    img.banner-img.projects-projects
            h2.single-item-title
                    a(href="https://github.com/karan/Projects", target="_blank") 100+ Projects
            p List of 100+ practical, language-agnostinc projects

    .col-sm-4
        .single-item#hn
            .item-image
                a(href="https://github.com/karan/HackerNewsAPI", target="_blank")
                    img.banner-img.projects-hn
            h2.single-item-title
                    a(href="https://github.com/karan/HackerNewsAPI", target="_blank") HackerNews API
            p Unofficial Python API for Hacker News

.row
    .col-sm-4
        .single-item#jreddit
            .item-image
                a(href="https://github.com/karan/jReddit", target="_blank")
                    img.banner-img.projects-jreddit
            h2.single-item-title
                    a(href="https://github.com/karan/jReddit", target="_blank") jReddit
            p Java wrapper for Reddit API

    .col-sm-4
        .single-item#yalt
            .item-image
                a(href="https://github.com/karan/YALT", target="_blank")
                    img.banner-img.projects-yalt
            h2.single-item-title
                    a(href="https://github.com/karan/YALT", target="_blank") YALT
            p Lightweight and minimal flashcard app

    .col-sm-4
        .single-item#music
            .item-image
                a(href="https://github.com/karan/MoodicPlayer", target="_blank")
                    img.banner-img.projects-music
            h2.single-item-title
                    a(href="https://github.com/karan/MoodicPlayer", target="_blank") Moodic Player
            p Builds a playlist based on mood

.row
    .col-sm-6
        .single-item
            h2.single-item-title Other Projects
            p
                a(href="https://github.com/karan/RedditAgain", target="_blank") RedditAgain
                |  – Automates migrating a Reddit account to a new one
                br
                a(href="https://github.com/karan/UW-OpenData", target="_blank") UW Open Data
                |  – Unofficial data API for UW course catalog
                br
                a(href="https://github.com/karan/sopins", target="_blank") Social Pins
                |  – Social badges on the fly (Twitter, Facebook / png, svg)

    .col-sm-6
        .single-item
            h2.single-item-title Web Components
            p
                a(href="https://github.com/karan/generator-customelement", target="_blank") generator-customelement
                |  – Yeoman generator for scaffolding a Polymer custom element
                br
                a(href="http://karan.github.io/x-meme", target="_blank") x-meme
                |  – The meme element for modern web
                br
                a(href="http://karan.github.io/sc-embed/", target="_blank") sc-embed
                |  – Web component wrapper for embedding SoundCloud tracks
