h1 Projects

.row
    .col-sm-4
        .single-item
            h3
                a(href="http://www.goharmonic.com", target="_blank") Harmonic
            p Tinder for music. #1 at Facebook PNW Hackathon
            ul.skills
                li SoundCloud API
                li Facebook API
                li Nodejs
                li MongoDB

    .col-sm-4
        .single-item
            h3
                a(href="http://karan.github.io/griddit", target="_blank") griddit
            p Orgasmic interface for image subreddits
            ul.skills
                li Reddit API
                li Jquery

    .col-sm-4
        .single-item
            h3
                a(href="https://github.com/karan/ZipUp", target="_blank") ZipUp
            p Yelp for Bathrooms. Hackathon project
            ul.skills
                li Nodejs
                li MongoDB
                li Jquery

.row
    .col-sm-4
        .single-item
            h3
                a(href="https://karan.github.io/SoundWall", target="_blank") SoundWall
            p Faster music discovery using a sick interface
            ul.skills
                li SoundCloud API
                li Jquery

    .col-sm-4
        .single-item
            h3
                a(href="https://karan.github.io/scInstant", target="_blank") SoundCloud Instant
            p Instant search for SoundCloud
            ul.skills
                li SoundCloud API
                li Jquery

    .col-sm-4
        .single-item
            h3
                a(href="https://github.com/karan/Pillar", target="_blank") Pillar
            p Suicide prevention app for Android
            ul.skills
                li Nodejs
                li MongoDB
                li Phonegap

.row
    .col-sm-4
        .single-item
            h3
                    a(href="http://q.goel.im") Qnowledge
            p Knowledge API for Quora (REST)
            ul.skills
                li Python
                li BeautifulSoup

    .col-sm-4
        .single-item
            h3
                    a(href="http://tweeny.goel.im/", target="_blank") What would I tweet?
            p Tweet generator based on Markov probabilities
            ul.skills
                li Python
                li Angularjs
                li Math

    .col-sm-4
        .single-item
            h3
                    a(href="http://s.goel.im/", target="_blank") s
            p High-performance, anonymous URL shortener
            ul.skills
                li Nodejs
                li Redis
                li Angularjs
    
.row
    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/TPB", target="_blank") TPB API
            p Unofficial Python API for ThePirateBay
            ul.skills

    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/Projects", target="_blank") 100+ Projects
            p List of 100+ practical, language-agnostinc projects

    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/HackerNewsAPI", target="_blank") HackerNews API
            p Unofficial Python API for Hacker News

.row
    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/jReddit", target="_blank") jReddit
            p Java wrapper for Reddit API

    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/YALT", target="_blank") YALT
            p Lightweight and minimal flashcard app

    .col-sm-4
        .single-item
            h3
                    a(href="https://github.com/karan/MoodicPlayer", target="_blank") Moodic Player
            p Builds a playlist based on mood

.row
    .col-sm-6
        .single-item
            h2 Other Projects
            p
                a(href="https://github.com/karan/RedditAgain", target="_blank") RedditAgain
                |  – Automates migrating a Reddit account to a new one
                br
                a(href="https://github.com/karan/UW-OpenData", target="_blank") UW Open Data
                |  – Unofficial data API for UW course catalog
                br
                a(href="https://github.com/karan/sopins", target="_blank") Social Pins
                |  – Social badges on the fly (Twitter, Facebook / png, svg)

    .col-sm-6
        .single
            h2 Web Components
            p
                a(href="https://github.com/karan/generator-customelement", target="_blank") generator-customelement
                |  – Yeoman generator for scaffolding a Polymer custom element
                br
                a(href="http://karan.github.io/x-meme", target="_blank") x-meme
                |  – The meme element for modern web
                br
                a(href="http://karan.github.io/sc-embed/", target="_blank") sc-embed
                |  – Web component wrapper for embedding SoundCloud tracks

#subscribe
    .col-md-6.col-md-offset-3 
        form#mc-embedded-subscribe-form.validate(action='http://goel.us3.list-manage.com/subscribe/post?u=e6728b4299cef4104e10240b9&id=7fd1fe0c0d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
            h2 Leave your e-mail here and stay tuned about my projects.
            input#mce-EMAIL.email(type='email', value='', name='EMAIL', required='required', placeholder="your@email.com")
            input#mc-embedded-subscribe.button(type='submit', value="Go", name='subscribe')
            div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_e6728b4299cef4104e10240b9_7fd1fe0c0d', value='')
