h1 Projects

p I started working on projects in the summer of 2013.
    |  You can check out my open source projects&nbsp;
    a(href="http://github.com/karan", target="_blank") on Github.
    |  Here are some of the best ones:

ul
    li
        a(href="https://github.com/karan/slashgif", target="_blank") slashgif
        |  - Post GIFs to Twitter by doing "@slashgif coffee break"
    li
        a(href="https://bumperapp.co/", target="_blank") Bumper
        |  - An app to schedule Uber rides in advance.
    li
        a(href="https://github.com/karan/add-a-license-please", target="_blank") Add a License Please
        |  - A bot that crawls Github for projects without any license, and asks the owner to add a license.
    li
        a(href="https://github.com/karan/slack-overflow", target="_blank") Slack Overflow
        |  - Search StackOverflow right from Slack without coming off as dumb.
    li
        a(href="https://github.com/karan/joe", target="_blank") joe
        |  - A .gitignore magician in your command line. Joe generates .gitignore files from the command line for you.
    li
        a(href="http://squall.io/", target="_blank") Squall.io
        |  - Compose a tweet with no character limit and post it as an image.
        | (Started as&nbsp;
        a(href="http://storming.me/", target="_blank") Storming.me)
    li
        a(href="http://www.hinightingale.me/", target="_blank") Nightingale
        |  - Personal music playlist powered by your Twitter friends.
    li
        a(href="https://github.com/karan/jReddit", target="_blank") Jreddit
        |  - Java wrapper for Reddit API.
    li
        a(href="https://karan.github.io/SoundWall", target="_blank") SoundWall
        |  - Faster music discovery using a grid interface
    li
        a(href="https://github.com/karan/validator.dart", target="_blank") validator.dart
        |  - String validation and sanitization library for Dart

br

.grid
    h3 Web Apps
    hr
    ul
        li
            a(href="http://www.goharmonic.com", target="_blank") Harmonic
            |  - Tinder for music. #1 at Facebook PNW Hackathon '14
        li
            a(href="https://github.com/karan/ZipUp", target="_blank") ZipUp
            |  - Yelp for Bathrooms. #1 at CodeDay Seattle Jan '14
        li
            a(href="http://tweeny.goel.im/", target="_blank") What would I tweet?
            |  - Tweet generator based on Markov probabilities
        li
            a(href="http://karan.github.io/griddit", target="_blank") griddit
            |  - Orgasmic interface for image subreddits
        li
            a(href="https://karan.github.io/scInstant", target="_blank") SoundCloud Instant
            |  - Instant search for SoundCloud
        li
            a(href="http://s.goel.im/", target="_blank") s
            |  - High-performance, anonymous URL shortener

    h3 Native Apps
    hr
    ul
        li
            a(href="https://github.com/karan/chrome-url-alias", target="_blank") URL Alias
            |  - Chrome extension to set URL aliases ("m/" goes to "mail.google.com" etc)
        li
            a(href="https://github.com/karan/PebBus", target="_blank") PebBus
            |  - Pebble app for OneBusAway
        li
            a(href="https://github.com/karan/YALT", target="_blank") YALT
            |  - Lightweight and minimal flashcard app
        li
            a(href="https://github.com/karan/MoodicPlayer", target="_blank") Moodic Player
            |  - Builds a music playlist based on user's mood

    h3 Other Projects
    hr
    ul
        li
            a(href="https://github.com/karan/Projects", target="_blank") 100+ Projects
            |  - List of 100+ practical, language-agnostinc projects. 6k+ stars
        li
            a(href="https://github.com/karan/RedditAgain", target="_blank") RedditAgain
            |  – Automates migrating a Reddit account to a new one
        li
            a(href="https://github.com/karan/sopins", target="_blank") Social Pins
            |  – Social badges on the fly (Twitter, Facebook / png, svg)

p If you would like to be notified when I release a new project, you can&nbsp;
    a(href="http://eepurl.com/SRIPT", target="_blank") leave your email here
    | .
