h1 Projects

p I am an open source advocate and love working on interesting projects.
    |  You can check out my open source projects&nbsp;
    a(href="http://github.com/yask123", target="_blank") <strong>on Github</strong>.
    |  Here are some of the best ones:

ul
    li
        a(href="https://github.com/yask123/Instant-Music-Downloader", target="_blank") <strong>InstantMusic</strong>
        br
        |  Download any song without knowing its name.
        br
        |  This app trended at <strong>#1</strong> spot on
        a(href="https://news.ycombinator.com/item?id=10355030", target="_blank") <strong>HackerNews</strong>
        |  for more than a day and received over <strong>900 stars </strong> on Github.

    li
        a(href="http://www.jeequery.com", target="_blank") <strong>JEEQuery.com</strong>
        br
        |  A web app that helps school students prepare for IIT-JEE.
    li
        a(href="http://www.stalky.in", target="_blank") <strong> Stalky.in </strong>
        br
        |  A web app that instantly lets you discover all social profiles of people.
        br
        | This app trended at <strong>#1</strong> spot on sub reddit
        a(href="https://www.reddit.com/r/UsefulWebsites/comments/3qdk9o/discover_all_social_profiles_of_people_in_a/", target="_blank") <strong>/r/UsefulWebsites</strong> .
    li
        a(href="https://github.com/yask123/QuickPackage", target="_blank") <strong>QuickPackage</strong>
        br
        | Lets you instantly create and upload python package for your awesome script.
    li
        a(href="https://github.com/yask123/fixalbumart", target="_blank")<strong> Fixalbumart</strong>
        br
        |  Automagically fix album arts of mp3 files, Even with incorrect tags
    li
        a(href="https://github.com/yask123/Auto-MP3-Lyrics-Tagger", target="_blank") <strong>Auto-MP3-Lyrics-Tagger</strong>
        br
        |  This program will automatically search for the `Lyrics` of the song online and Download the lyrics for the  song and also add `Lyrics` Tag to the song.

    li
        a(href="https://github.com/yask123/Summarize-it", target="_blank")<strong> Summarize-it </strong>
        br
        |  A chat summarizer plugin for instant messaging applications.

    li
        a(href="http://yask123.github.io/GlobeglRealtimeAnalytics/", target="_blank") <strong>Webgl-Globe Realtime Analytics</strong>
        br
        |  Wrote this open source web app for Appbase developer program.
        a(href="http://yask123.github.io/GlobeglRealtimeAnalytics/", target="_blank") Demo &nbsp;
        a(href="https://medium.com/@yasksrivastava/building-a-realtime-webgl-globe-website-analytics-with-appbase-404cf44c9e25#.2rcpb7apn", target="_blank") Blog .

    li
        a(href="http://imagepastry.appspot.com", target="_blank")<strong> ImagePastry </strong>
        br
        |  An image sharing web app built with GAE python

    li
        a(href="https://github.com/yask123/AutoScreenshotUploader", target="_blank")<strong> AutoScreenshotUploader </strong>
        br
        |  A python module that lets users instantly capture, upload images to imgur.


br
