h1.section-title.dark
    i.fa.fa-code
    | Projects

.row
    .col-md-4.col-md-offset-2
        .single-item#pillar
            h2.single-item-title
                a(href="https://github.com/karan/Pillar", target="_blank") Pillar
            stack-tag Node.js
            stack-tag MongoDB
            stack-tag Knockout.js
            p 
                | An 
                a(href="https://github.com/karan/Pillar-API", target="_blank") API backed 
                | suicide prevention app targeted towards young adults. Features a mood tracker 
                | and an anonymous social network. Built at a 48-hour hackathon.

    .col-md-4
        .single-item#qnowledge
            h2.single-item-title
                    a(href="http://q.goel.im") Qnowledge
            stack-tag Python
            p
                | Qnowledge is a knowledge API for Quora that provides access to various details of any question using a simple REST interface.

.row
    .col-md-4.col-md-offset-2
        .single-item#tweeny
            h2.single-item-title
                    a(href="http://tweeny.goel.im/", target="_blank") What would I tweet?
            stack-tag Python
            stack-tag Angular.js
            p 
                | Automatically generates tweets for you by training a Markov bot based on bigram probabilities derived from your tweet history.

    .col-md-4
        .single-item#short
            h2.single-item-title
                    a(href="http://s.goel.im/", target="_blank") s
            stack-tag Node.js
            stack-tag Angular.js
            stack-tag Redis
            p 
                | A high-performance, anonymous URL shortener built using Redis + Node.js with an API-backed design.

.row
    .col-md-4.col-md-offset-2
        .single-item#tpb
            h2.single-item-title
                    a(href="https://github.com/karan/TPB", target="_blank") TPB API
            stack-tag Python
            p 
                | Wrote an unofficial Python API for ThePirateBay that now supports searching, sorting, pagination etc. 
                | It is supported on both Python 2 and Python 3.

    .col-md-4
        .single-item#projects-repo
            h2.single-item-title
                    a(href="https://github.com/karan/Projects", target="_blank") 100+ Projects
            stack-tag Python
            p 
                | Compiled a list of 100+ practical, language-agnostinc projects to
                | learn Python. The repo now has 4.5k+ stars and is one of the top repos on Github.

.row
    .col-md-4.col-md-offset-2
        .single-item#reddit
            h2.single-item-title
                    a(href="https://github.com/karan/", target="_blank") Reddit Scripts
            stack-tag Python
            p
                a(href="https://github.com/karan/RedditAgain", target="_blank") RedditAgain
                |  – Automates migrating a Reddit account to a new one.
                br
                a(href="https://github.com/karan/NobodyDoesThis", target="_blank") NobodyDoesThis
                |  – Scans /r/DoesAnybodyElse posts with 0 score and then comments "Nope, it's just you."
    .col-md-4
        .single-item#hn
            h2.single-item-title
                    a(href="https://github.com/karan/HackerNewsAPI", target="_blank") HackerNews API
            stack-tag Python
            p 
                | Wrote an unofficial Python API for Hacker News that works by screen
                | scraping. Also ported it to a RESTful interface at  
                a(href="https://github.com/karan/HNify", target="_blank") HNify
                |  with memcached.
.row
    .col-md-4.col-md-offset-2
        .single-item#music
            h2.single-item-title
                    a(href="https://github.com/karan/MoodicPlayer", target="_blank") Moodic Player
            stack-tag Java
            p 
                | Simple GUI-based app that uses last.fm API and builds a playlist for users based on their mood.
                | Primarily built to learn the Java Swing library and how web API's work.
    .col-md-4
        .single-item#jreddit
            h2.single-item-title
                    a(href="https://github.com/karan/jReddit", target="_blank") jReddit
            stack-tag Java
            p 
                | Took over an abandoned Java wrapper for Reddit API. Added new features,
                | fixed existing bugs, and continue to maintain it.
.row
    .col-md-4.col-md-offset-2
        .single-item#yalt
            h2.single-item-title
                    a(href="https://github.com/karan/YALT", target="_blank") YALT
            stack-tag Java
            p 
                | Straight out of intro CS classes, made a lightweight and minimal 
                | GUI utility to make it easier for anyone to learn facts. Built to
                | learn the Java Swing library.
