h1 Projects

.row
    .col-sm-6
        .single-item
            h2 Web Apps
            hr.head-separator
            p 
                a(href="http://www.hinightingale.me/", target="_blank") Nightingale
                |  - Personal music playlist powered by your Twitter friends.
            p 
                a(href="http://www.goharmonic.com", target="_blank") Harmonic
                |  - Tinder for music. #1 at Facebook PNW Hackathon
            p
                a(href="https://karan.github.io/SoundWall", target="_blank") SoundWall
                |  - Faster music discovery using a sick interface
            p
                a(href="https://github.com/karan/ZipUp", target="_blank") ZipUp
                |  - Yelp for Bathrooms. Hackathon project (Android)
            p
                a(href="http://tweeny.goel.im/", target="_blank") What would I tweet?
                |  - Tweet generator based on Markov probabilities
    .col-sm-6
        .single-item
            h2 API's
            hr.head-separator
            p 
                a(href="http://q.goel.im") Qnowledge
                |  - Knowledge API for Quora (REST)
            p
                a(href="https://github.com/karan/TPB", target="_blank") TPB API
                |  - Unofficial Python API for ThePirateBay
            p
                a(href="https://github.com/karan/HackerNewsAPI", target="_blank") HackerNews API
                |  - Unofficial Python API for Hacker News
            p
                a(href="https://github.com/karan/jReddit", target="_blank") jReddit
                |  - Java wrapper for Reddit API
            p
                a(href="https://github.com/karan/UW-OpenData", target="_blank") UW Open Data
                |  – Unofficial data API for UW course catalog

.row
    .col-sm-6
        .single-item
            h2 Experiments
            hr.head-separator
            p 
                a(href="http://karan.github.io/griddit", target="_blank") griddit
                |  - Orgasmic interface for image subreddits
            p
                a(href="https://karan.github.io/scInstant", target="_blank") SoundCloud Instant
                |  - Instant search for SoundCloud
            p
                a(href="http://s.goel.im/", target="_blank") s
                |  - High-performance, anonymous URL shortener
    .col-sm-6
        .single-item
            h2 Native Apps
            hr.head-separator
            p
                a(href="https://github.com/karan/PebBus", target="_blank") PebBus
                |  - Pebble app for OneBusAway
            p
                a(href="https://github.com/karan/Pillar", target="_blank") Pillar
                |  - Suicide prevention app for Android
            p
                a(href="https://github.com/karan/YALT", target="_blank") YALT
                |  - Lightweight and minimal flashcard app
            p
                a(href="https://github.com/karan/MoodicPlayer", target="_blank") Moodic Player
                |  - Builds a playlist based on mood

.row
    .col-sm-6
        .single
            h2 Web Components
            hr.head-separator
            p
                a(href="https://github.com/karan/generator-customelement", target="_blank") generator-customelement
                |  – Yeoman generator for scaffolding a Polymer custom element
            p
                a(href="http://karan.github.io/x-meme", target="_blank") x-meme
                |  – The meme element for modern web
            p
                a(href="http://karan.github.io/sc-embed/", target="_blank") sc-embed
                |  – Web component wrapper for embedding SoundCloud tracks
    .col-sm-6
        .single-item
            h2 Other Projects
            hr.head-separator
            p
                a(href="https://github.com/karan/Projects", target="_blank") 100+ Projects
                |  - List of 100+ practical, language-agnostinc projects
            p
                a(href="https://github.com/karan/RedditAgain", target="_blank") RedditAgain
                |  – Automates migrating a Reddit account to a new one
            p
                a(href="https://github.com/karan/sopins", target="_blank") Social Pins
                |  – Social badges on the fly (Twitter, Facebook / png, svg)


#subscribe
    .col-md-8.col-md-offset-2
        form#mc-embedded-subscribe-form.validate(action='//goel.us3.list-manage.com/subscribe/post?u=e6728b4299cef4104e10240b9&id=7fd1fe0c0d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            h2 Get notified when I publish a new blog post or release code.
            .row
                .col-sm-3
                    input#mce-FNAME.required(type='text', value='', name='FNAME', placeholder="First name")
                .col-sm-3
                    input#mce-LNAME.required(type='text', value='', name='LNAME', placeholder="Last name")
                .col-sm-4
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="you@email.com")
                .col-sm-2
                    input#mc-embedded-subscribe.button(type='submit', value="Subscribe", name='subscribe')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                    input(type='text', name='b_e6728b4299cef4104e10240b9_7fd1fe0c0d', tabindex='-1', value='')
