h1 Work

.grid

        //- .col-1-2
        //- img.banner-img(src="images/google.png")
        h3 Google
        small April - August '15 - Google Sumer Of Code' 15
        hr
        p
            |Created a well-structured, consistent, good looking and well usable UI/UX for moin2 which is a high performance wiki engine written in Python.

        //- .col-1-2
        //- img.banner-img(src="images/madrona.png")
        h3 Zomato
        small Dec'15 - Dec'15 - Trial Week Intern
        hr
        p
            | My work made it possible to collect Restaurant's data from sources
            | such as Facebook's Restaurant Pages and Google Places to give
            | more accurate results while searching for restaurants on Zomato.       

        h3 Instructor
        small May'15 - Aug '15 - Bharati Vidyapeeth College of Engineering
        hr
        p
            | Taught web development with Django course to first year undergraduate students as a part of their summer 
            | training programme.

        //- .grid

        //- .col-1-2
        //- img.banner-img(src="images/google.png")


        //- .col-1-2
        //- img.banner-img(src="images/lenskart.png")
        

