h1 Work

.grid.grid-pad

    .col-1-2
        //- img.banner-img(src="images/google.png")
        h3 Google
        small Jun - Sep '15 - Mountain View
        hr
        p
            | I'll be interning at Google with the&nbsp;
            b Google Cloud Platform (Developer Relations)
            |  team.

    .col-1-2
        //- img.banner-img(src="images/madrona.png")
        h3 Madrona Venture Labs
        small Mar - Jun '15 - Seattle
        hr
        p
            | I'll be interning with Madrona Venture Labs a
            |  startup studio, to build new and meaningful products.

.grid.grid-pad

    .col-1-2
        //- img.banner-img(src="images/dubhacks.png")
        h3 DubHacks
        small Fall '14
        hr
        p
            | Founded the first student-led, and the biggest ever hackathon in
            |  the PNW. Led a team of 10 students, hosting 350+ students from
            |  all across the US and 30+ sponsor companies.&nbsp;
            a(href="http://www.geekwire.com/2014/inside-dubhacks-uw-hosts-inaugural-collegiate-hackathon/", target="_blank") GeekWire coverage
            | .

    .col-1-2
        //- img.banner-img(src="images/google.png")
        h3 Google
        small Jun - Sep '14 - Mountain View
        hr
        p
            | I interned at Google with the&nbsp;
            b Street View (Maps)
            |  team where I worked on making the data ingest pipeline more
            |  reliable and faster (for data center uploads).

.grid.grid-pad

    .col-1-2
        //- img.banner-img(src="images/lenskart.png")
        h3 Lenskart.com
        small Jun - Aug '13 - New Delhi
        hr
        p
            | In Summer 2013, I interned at&nbsp;
            a(href="http://www.lenskart.com/", target="_blank") Lenskart.com
            |  as a&nbsp;
            b Data Analyst
            |  and shipped two custom dashboards with realtime data
            |  streams using Tableau.

    .col-1-2
        //- img.banner-img(src="/images/spam.png")
        h3 UW iSchool
        small Aug '12 - Aug '13 - Seattle
        hr
        p
            | Assisted&nbsp;
            a(href="http://jeffhuang.com/", target="_blank") Jeff Huang
            |  as a&nbsp;
            b Research Assistant
            | . Collected data, ran statistical tests, visualized the
            |  findings and published a&nbsp;
            a(href="https://medium.com/@karan/how-do-spammers-harvest-your-e-mail-address-3d30c77a019a", target="_blank") blog post
            |  about the results.
