h1.section-title
    i.fa.fa-users
    |  Work
.row
    .col-md-4
        .single-item
            .item-image
                img.banner-img(src="images/google.png")
            h2.single-item-title
                | Google
                br
                small.text Summer '14 - Mountain View
            p.light
                | I interned at Google with the 
                b Street View (Maps) 
                | team where I worked on making the data ingest pipeline more 
                | reliable and faster (for data center uploads).
    .col-md-4
        .single-item
            .item-image
                img.banner-img(src="images/lenskart.png")
            h2.single-item-title
                | Lenskart.com
                br
                small.text Summer '13 - New Delhi
            p.light
                | In Summer 2013, I interned at 
                a(href="http://www.lenskart.com/", target="_blank") Lenskart.com 
                |  as a 
                b Data Analyst 
                | and shipped two custom dashboards with realtime data 
                | streams using Tableau.
    .col-md-4
        .single-item
            .item-image
                img.banner-img(src="/images/spam.png")
            h2.single-item-title
                | UW iSchool
                br
                small.text Aug '12 - Aug '13 - Seattle
            p.light
                | Assisted 
                a(href="http://jeffhuang.com/", target="_blank") Jeff Huang
                |  as a 
                b Research Assistant
                | . Collected data, ran statistical tests, visualized the 
                | findings and published a 
                a(href="http://karan.github.io/email-spam/") blog post
                |  about the results.
