p 
    | Created by Karan Goel
p 
    | Built with HTML5, CSS3, Bootstrap, Jade, jQuery and lots of 
    span.glyphicon.glyphicon-heart-empty
img.hidden(src="/images/schemes/blue.svg")
img.hidden(src="/images/schemes/gray.svg")
img.hidden(src="/images/schemes/purple.svg")
