title Karan Goel

meta(charset="utf-8")

//- SEO stuffs
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="keywords", content="Karan Goel, University of Washington, UW, Seattle")
meta(name="description", content="Karan Goel is a developer, and student at University of Washington.")
link(rel="alternate", type="application/atom+xml", href="https://goel.io/rss")

//- How the site looks
meta(name="theme-color", content="#444444")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

meta(name="google-site-verification", content="Fjv0uLvY6KOkNRqPgPlMlASk7DwV8rvnsqLcfTU7wBI")

//- Styles
style
  include ../dist/css/custom.min.css

//- Faebook open graph
meta(property='og:title', content='Karan Goel')
meta(property='og:url', content='http://karan.goel.io')
meta(property='og:site_name', content='Karan Goel')
meta(property='og:type', content='website')
