title Karan Goel - Home

meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="keywords", content="Karan Goel, University of Washington, UW, Seattle")
meta(name="description", content="Karan Goel is a developer, and student at University of Washington.")

meta(name="viewport", content="width=device-width, initial-scale=1")

link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

meta(name="google-site-verification", content="Fjv0uLvY6KOkNRqPgPlMlASk7DwV8rvnsqLcfTU7wBI")

//- link(rel="stylesheet", href="//thisisdallas.github.io/Simple-Grid/simpleGrid.css")
//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
style(type="text/css").
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0px;
  }

  [class*='col-'] {
    float: left;
    padding-right: 20px; /* column-space */
  }

  .grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
  }

  .grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-pad {
    padding-top: 20px;
    padding-left: 20px; /* grid-space to left */
    padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
  }

  .col-1-2, .col-6-12 {
    width: 50%;
  }

  .col-1-3, .col-4-12 {
    width: 33.33%;
  }

  .col-1-4, .col-3-12 {
    width: 25%;
  }


  body {
    margin: 40px auto;
    max-width: 720px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: 'Open Sans'
  }
  h1, h2, h3 {
    line-height: 1.4;
  }
  section {
    margin-bottom: 40px;
  }
  .banner-img {
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
  }
  #footer {
    text-align: center;
  }

//- link(rel="stylesheet", href="dist/css/style.min.css")

//- Faebook open graph
meta(property='og:title', content='Karan Goel - Home')
meta(property='og:url', content='http://karan.goel.io')
meta(property='og:site_name', content='Karan Goel - Home')
meta(property='og:type', content='website')
