ul.list-inline.col-md-8.col-md-offset-2.social
    li
        a.btn-social.btn-github(href="http://github.com/karan", role="button", target="_blank")
            i.fa.fa-github.fa-3x
    li
        a.btn-social.btn-twitter(href="http://twitter.com/KaranGoel", role="button", target="_blank")
            i.fa.fa-twitter.fa-3x
    li
        a.btn-social.btn-blog(href="http://karan.github.io", role="button", target="_blank")
            i.fa.fa-rss.fa-3x
    li
        a.btn-social.btn-linkedin(href="http://www.linkedin.com/in/kgoel", role="button", target="_blank")
            i.fa.fa-linkedin.fa-3x
