ul.list-inline.col-md-6.col-md-offset-3.social
    //- li
        a.btn-social.btn-email(href="mailto:karan@goel.im", role="button", target="_blank")
            i.fa.fa-envelope-o.fa-2x
    li
        a.btn-social.btn-github(href="http://github.com/karan", role="button", target="_blank")
            i.fa.fa-github.fa-2x
    li
        a.btn-social.btn-twitter(href="http://twitter.com/KaranGoel", role="button", target="_blank")
            i.fa.fa-twitter.fa-2x
    li
        a.btn-social.btn-blog(href="http://karan.github.io", role="button", target="_blank")
            i.fa.fa-rss.fa-2x
    li
        a.btn-social.btn-linkedin(href="http://www.linkedin.com/in/kgoel", role="button", target="_blank")
            i.fa.fa-linkedin.fa-2x
    li
        a.btn-social.btn-gplus(href="http://google.com/+KaranGoel", role="button", target="_blank")
            i.fa.fa-google-plus.fa-2x
