ul
    li
        a.btn-social.btn-github(href="http://github.com/karan", role="button", target="_blank") Github
    li
        a.btn-social.btn-twitter(href="http://twitter.com/KaranGoel", role="button", target="_blank") Twitter
    li
        a.btn-social.btn-blog(href="http://goel.io", role="button", target="_blank") Blog
    li
        a.btn-social.btn-linkedin(href="http://www.linkedin.com/in/kgoel", role="button", target="_blank") LinkedIn
