.grid.grid-pad
    .col-1-4
      a(href="http://github.com/karan", role="button", target="_blank")
        i.fa.fa-2x.fa-github
    .col-1-4
      a(href="http://twitter.com/KaranGoel", role="button", target="_blank")
        i.fa.fa-2x.fa-twitter
    .col-1-4
      a(href="http://goel.io", role="button", target="_blank")
        i.fa.fa-2x.fa-rss
    .col-1-4
      a(href="http://www.linkedin.com/in/kgoel", role="button", target="_blank")
        i.fa.fa-2x.fa-linkedin
